
/* Great debugging tool!*/
  div {
    /*border: 1px none black; */
    /* padding: 0px; */
    overflow:hidden;
  }
  
  * {
    box-sizing: border-box;
  }

  body {
    font-family: Helvetica;
  }
  
  td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  th {
    border: 1px solid #ddd;
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(62, 45, 212); /* clr 1 header */
    background-color: #0097a7ff; /* clr 2 header */
    color: white;
  }

  tr:nth-child(even) {
    background-color: rgb(154, 148, 204); /* clr 1 odd row */
    background-color: rgba(250, 217, 179, 0.856); /* clr 2 odd row */

  }  

  tr:hover {
    background-color: #ddd;
  }

  tr {
    background-color: rgb(132, 124, 196); /* clr 1 even row */
    background-color: rgba(250, 217, 179, 0.856); /* clr 2 even row */

  }

  table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 100%;
  }

  #banner {
    width: 100%;
    height: 100%;
    max-height: 200px;
  }
  
  #menu {
    background-color: rgb(45, 123, 212); /*clr 1 menu */
    background-color: black; /*clr 2 menu */
    height:40px;
  }

  #center_the_menu {
    /* margin: auto; True Center */
    margin: 0 0 0 35%; /* Skewed center */
    width: 20%;
    /*border: 3px solid #73AD21; */
    padding: 10px; 
    text-align: center; /* children will be centered */
  }

  button {
    background-color: rgb(205, 207, 207);
    position:relative;
  }

  button.left-button {
    top:-9px; 
  }
  button.right-button {
    top: -9px;
  }

  #date {
    margin: 0px 3px 0px 3px; 
    background-color: rgb(205, 207, 207);
  }

  #left {
    float: left;
    width: 45%;
  }
      
  #center {
    float: left;
    width: 45%;
  } 

  #right {
    float: left;
    width: 10%;
  }
  
  .standings {
    background-color: rgb(205, 207, 207); /* clr 1 background */
    background-color: #00c8deff; /* clr 2 background */
    background-color: rgba(250, 217, 179, 0.856); /* clr 2 background lite brown */
    background-color: rgb(241, 185, 101); /* clr 2 background  */

    height:260px;
  }

  .center_the_standings {
    margin: auto;
    width: 80%;
    /*border: 3px solid #73AD21;*/
    padding: 10px; 
    text-align: center; /* children will be centered */
  }

  .advert1 {
    background-color: white;
    height:240px;
  }
  
  .advert2{
    background-color: brown;
    height:110px;
  }
    
  #footer {
    background-color: rgb(45, 123, 212); /*clr 1 menu */
    background-color: black; /*clr 2 menu */
    width:100%;
    height:32px;
    clear:both;
  }

  #social_icons {
    /* margin: auto; True Center */
    margin: 0 0 0 35%; /* Skewed center */
    width:20%;
    text-align: center; /* children will be centered */
    /* border: 3px solid #73AD21;  */
    /*background-color: green; */

  }

  .social_icon {
    margin:0px 10px 0px 10px;
  }
  