
/* Great debugging tool!
  div {
    border: 1px none black; 
    padding: 0px; 
    overflow:hidden; 
  }
*/

  * {
    box-sizing: border-box;
  }

  body {
    font-family: Helvetica;
  }
  
  .banner {
    width: 100%;
    background-color: black;
  }
  
  .menu {
    background-color: black; /*clr 2 menu */
    height:40px;
  }

  .center_the_menu {
    margin: auto; /* True Center */
    /*margin: 0 0 0 23%; /* Skewed center */
    width: 400px;
    padding: 10px; 
    /*text-align: center; /* children will be centered */
     border: 3px solid #73AD21; 
  }

  button {
    background-color: rgb(205, 207, 207);
    margin: 2px;
  }

  .date {
    margin: 0px 3px 0px 3px; 
    background-color: rgb(205, 207, 207);
  }

  .left {
    float: left;
    width: 43%;
    /* border: 3px solid red; */
  }
  
  .standings {
    background-color: rgb(241, 185, 101); /* clr 2 background  */
    height:360px;
    /* border: 3px solid blue; */
  }

  .center_the_standings {
    margin: auto;
    width: 85%;
    padding: 10px; 
    text-align: center; /* children will be centered */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border: 3px solid green; 
  }
  .date_box {
    width:100%;
  }
  .date {
    width:90%;
  }
  .react-datepicker-wrapper {
    width:80px;
  }
  
  .select_box_a {
    width:50%;
    float: left;
  }

  .select_box_b {
    width:50%;
    float: right;
  }

  .center {
    float: left;
    width: 43%;
  } 

  .right {
    float: left;
    width: 14%;
    /* border: 3px solid red; */
  }
  
  .advert1 {
    background-color: rgb(241, 185, 101); /* clr 2 background  */
    height:360px;
    /* border: 3px solid blue; */
  }
  
  .center_the_advert {
    text-align: center; /* children will be centered */
    position: relative;
    top: 50%;
    transform: translateY(-50%);  
    /* border: 3px solid green; */
  }


  .advert2{
    background-color: brown;
    height:110px;
  }
    
  .footer {
    background-color: black; /*clr 2 menu */
    width:100%;
    height:32px;
    clear:both;
  }

  .social_icons {
    /* margin: auto; True Center */
    margin: 0 0 0 28%; /* Skewed center */
    width:30%;
    text-align: center; /* children will be centered */
    /* border: 3px solid green; */
  }

  .social_icon {
    margin:0px 10px 0px 10px;
  }
  
  @media only screen and (max-width:800px) {
    /* At 800 px (mobile landscape) we start to lose data in standings columns*/
    .left, .center, .right {
      width: 100%;
    }
    .center_the_menu {
      border: 1px solid green; 
      width:350px;
    }
  }
  
  /* For mobile phones portrait mode: */
  @media only screen and (max-width:500px) {
    /*buton {
      font-size : 7px;
    }*/
  }
  